body{
    background-color: #E3E9FF;
}
.purble-box{
    height: 50px;
    background-color: #AF7EEB;
    width: 350px; 
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.white-box{
    background-color: white;
    width: 300px;
    padding: 25px 25px;
}

.box {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.task-box {
    background-color: #E3E9FF;
}
.add-button{
    background-color: #AF7EEB;
    color: white;
    border-radius: 5%;
    border: none;
    padding: 5px;
 }
.task-checkbox {
    border: #AF7EEB 2px solid;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 6px;
    color: black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}

.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}

.task-box.checked > .task-checkbox {
    background-color: #AF7EEB;
}

.task-input {
    border: none;
    background-color: transparent;
    color: black;
    width: 100%;
}

.task-input:active, .task-input:focus {
    outline: none;
}