/* Black #181820 */
/* Grey #272833 */
/* White #fefeff */
/* Orange #fc9786 */
/* Purple #c048d2 */
:root {
    --our-black: #181820;
    --our-grey: #272833;
    --our-white: #fefeff;
    --our-text-grey: #b8b8bb;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #606060;
    color: var(--our-white);
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    padding-top: 8px;
}

.instructions {
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Roboto', sans-serif;
}

.hero-title {
    color: black;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.box {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 15px;
    color: var(--our-text-grey);
    font-size: 13px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.add-task-box {
    border: rgba(39, 40, 51, 0.6) 2px ridge;
    border-width: 3px;
    width: 120px;
}


.add-task-box:hover {
    background-color: var(--our-grey);

}

.pink-box {
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox {
    border: #ffffff 2px solid;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}


.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}


.task-box.checked > .task-checkbox {
    background-color: #ffffff;
}

.task-box {
    background-color: var(--our-grey);
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 300ms ease-in;
}

.task-box:hover {
    transform: rotateY(-10deg);
}

.task-input {
    border: none;
    background-color: transparent;
    color: var(--our-white);
    width: 100%;
}

.task-input:active, .task-input:focus {
    outline: none;
}