
:root {
    --our-black: #181820;
    --our-grey: #272833;
    --our-white: #fefeff;
    --our-text-grey: #b8b8bb;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #181820;
     color: peru;
    font-size: 18px;
 font-family: 'Edu VIC WA NT Beginner', cursive;
    /* font-family: 'Roboto', sans-serif; */
    padding: 16px;
    padding-top: 8px;
} 

.hero-title {
    font-size: 24px;
    line-height: 24px;
    text-align:center;
}
main {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}.spacer{
    flex: 1;
    
}.task.input{
    border: none;
    background-color: transparent;
    color: black;
    width: 100%;
/* line-clamp: 3; */

}.task-input:active , .task-input:focus{
    /* border: none; */
    outline: none;

}.box {
    display: flex;
    align-items: center;

    gap: 10px;
    border-radius: 16px;
    padding: 10px;
    color: peru;
    font-size: 12px;
    cursor: pointer;
}.box1 {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    padding: 10px;
    color: peru;
    font-size: 12px;
    cursor: pointer;
}

.add-task-box {
    border: rgba(39, 40, 51, 0.6) 2px solid;

    /* border:#7F8487 2px solid; */
}
.add-task-box:hover {
    background-color: var(--our-grey);
}
.pink-box {
    background-color:#7F8487;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-checkbox {
    border: #7F8487 2px solid;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}

.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}
.task-box.checked > .task-checkbox {
    background-color: #7F8487;
}

.task-box {
    background-color: var(--our-grey);
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 300ms ease-in;
}
.task-box:hover {
    transform: rotateY(-10deg);
}












