/* Black #181820 */
/* Grey #272833 */
/* White #fefeff */
/* Orange #fc9786 */
/* Purple #c048d2 */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
:root {
    --our-black: #20202c;
    --our-grey: #eaebf15d;
    --our-white: #fefeff;
    --our-text-grey: #b8b8bb;
}

* {
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
}

/* body {
    background-color: #181820;
    color: var(--our-white);
    font-size: 18px;
    padding: 16px;
    padding-top: 8px;
} */
body
{
    background-image: url('https://source.unsplash.com/random/1600x900/?landscape');
    font-family: 'Grape Nuts', cursive;
}

.hero-title {
    font-size: 50px;
    line-height: 24px;

    display:flex;
    justify-content: center;
    /* font-family: 'Edu VIC WA NT Beginner', cursive; */
font-family: 'Grape Nuts', cursive;

}

.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    font-family: 'Grape Nuts', cursive;
   
    

    
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* align-items: center; */
    
}

.box {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 10px;
    color: var(--our-text-grey);
    font-size: 19px;
    cursor: pointer;
   
    


    
   
}

.spacer {
    flex: 1;
}

.add-task-box {
    border: rgba(39, 40, 51, 0.6) 1px solid;
    width: 20%;
    display: flex;
    justify-content: center;
 


    background: #111;
    cursor: pointer;
    position: relative;
}


.add-task-box:hover::before {
    background-color: var(--our-grey);


    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
   
}

.add-task-box:active {
    color: #000
}

.add-task-box:active:after {
    background: transparent;
}

.add-task-box:hover:before {
    opacity: 1;
}

.add-task-box:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* .pink-box {
    background-color: #fc76a1;
    width: 10px;
    height: 14px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.task-checkbox {
    border: black 2px solid;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}


.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}


.task-box.checked > .task-checkbox {
    background-color: #f0dce2;
}

/* .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.task-box {
    background-color: var(--our-grey);
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 300ms ease-in;


    cursor: pointer;
  background: transparent;
  border: 2px solid  black;
  outline: none;
  transition: 1s ease-in-out;
  color: #000;
  



}

.task-box:hover {
    /* transform: rotateY(-10deg); */
    transition: 1s ease-in-out;
    background: #becddb9a;
}

.task-input {
    border: none;
    background-color: transparent;
    color: var(--our-white);
    width: 100%;
}

.task-input:active, .task-input:focus {
    outline: none;
}


.subtitle
{
    font-family: 'Grape Nuts', cursive;  
}




.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 20px 32px;
    border-radius: 30px;
    background: white;
    /* position: absolute; */
    top: 4px;
    margin-left: 850px ;
   
    
  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
  }
  
  .timer__btn--start {
    background: #00b84c;
  }
  
  .timer__btn--stop {
    background: #ff0256;
  }

  .card
  {
      margin-left: 850px;
      position: absolute;
      display: inline-block;
  }




